<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoHome</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>Sr. No.</td>
                <td>Name</td>
                <td>Time</td>
                <td>Description</td>
                <td>Done?</td>
            </tr>
        </thead>

        <tbody>
            {%for task in Tasks%}
            {%for check in checks%}
            <tr>
                <td>
                    {{task.id}}
                </td>
                <td>
                    {{task.task_name}}
                </td>
                <td>
                    {{task.task_time}}
                </td>
                <td>
                    {{task.task_desc}}
                </td>
                <td>
                    {% if check.task_done %}
                        Done
                    {% endif %}
                    {% if  not check.task_done %}
                        Pending
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</body>
</html>